<div class="panel panel-info" style="width: 18rem;">
  <div class="panel-heading">
    <h5 class="card-title"><%= data_set.name %></h5>
  </div>
  <div class="panel-body">
    <%= link_to 'more...', data_set_path(data_set.id)%>
  </div>
</div>