.DataArchetype {
  box-sizing: border-box;
  border: 2px solid rgba(18,18,17, 0.2);
  border-radius: 36%;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
  margin: 1rem;
  padding: 1rem;
  color: #efefef;
  display: inline-flex;
}

