@import '../data_source/data_source';
@import '../data_set/data_set';
@import '../data_archetype/data_archetype';

.dictionary-app {
  display: grid;
  grid-template-rows: 50px 25% auto;
}

.ArchetypeArea {
  grid-row-start: 2;
  grid-row-end: 3;
}

.DataDiagramArea {
  grid-row-start: 3;

}

