.DataSetList{
  display: inline-flex;
  box-sizing: border-box;
}

.DataSetArea{
  display: inline-flex;
  box-sizing: border-box;
}

.DataSet {
  min-width: 15rem;
  min-height: 8rem;
  box-sizing: border-box;
  border: 2px solid rgba(18,18,17, 0.2);
  border-radius: .5rem;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
  margin: .5rem;
}

.DataSet .DataSetTitle {
  border-bottom: 2px solid rgba(18,18,17, 0.2);
  font-size: 16px;
  font-weight: 700;
  padding: .5rem;
  width: 100%;

}

.ProductionDataSet {
  border: 3px solid rgba(84, 197, 84, 0.82);
}


.ArchetypeNotSelected{
  position: relative;
}

.ArchetypeNotSelected:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}