<h1>Dictionary Map</h1>

<div id="dictionary-app">
</div>
<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'dictionary_workspace/dictionary_workspace' %>
<%= stylesheet_pack_tag 'dictionary_workspace/dictionary_workspace' %>
